@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --background: #011f26;
  --celeste: #05d8f0;
  --rosa: #f24162;
  --naranja-pastel: #f29d7e;
  --naranja: #f25757;
  --text-white: #def3f9;

  /* BACKGROUND CARD */
  --background-card: #142837;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: noto sans, sans-serif;
}

body {
  background-image: url("./bg.jpg");
}
/* Nav */
.navbar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #183540 92%), #049dbf;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  color: var(--text-white);
  justify-content: space-between;
  position: fixed;
  overflow: hidden;
  z-index: 100;
}

.navbar-list {
  display: flex;
  gap: 40px;
  padding-right: 50px;
  font-size: 15px;
  font-weight: 400;
}

.navbar img {
  width: 200px;
  padding: 15px 15px;
}

.navbar-list a {
  color: var(--text-white);
}

.navbar-list li:first-child a {
  color: var(--naranja-pastel);
  font-weight: 900;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  width: 100%;
}

.sub-titulo {
  text-align: center;
  color: var(--rosa);
  padding: 10px;
  /* background-color: rgba(5, 216, 240, 0.3); */
  border-radius: 20px;
  margin-top: 140px;
  border: 2px solid var(--celeste);
}

#info {
  padding-top: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

.info-historia {
  color: var(--text-white);
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 70%;
  padding-left: 300px;
}

.info-historia p {
  text-wrap: pretty;
}

.info-historia a {
  color: var(--naranja-pastel);
  font-weight: 800;
  transition: color 0.3s ease;
}

.info-historia :hover a {
  color: var(--rosa);
  font-size: 18px;
}

.info-historia span {
  font-weight: 800;
  color: var(--naranja-pastel);
}

#info img {
  width: 25%;
  height: 10%;
  border: solid var(--naranja-pastel);
  border-radius: 10px;
}

.info-actualidad {
  width: 65%;
  display: flex;
  align-items: center;
}

.info-actualidad p {
  margin: 0;
  width: 500px;
}

.info-actualidad span {
  font-weight: 800;
  color: var(--naranja-pastel);
}

.info-actualidad img {
  margin-right: 50px;
  margin-left: 0;
  width: 25%;
  height: 10%;
  border: solid var(--naranja-pastel);
  border-radius: 10px;
  align-self: flex-end;
  display: flex;
}

.sub-titulo-eventos {
  text-align: center;
  color: var(--rosa);
  padding: 10px;
  border-radius: 20px;
  margin-top: 50px;
  border: 2px solid var(--celeste);
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#exposiciones {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expos a {
  color: var(--naranja-pastel);
  font-weight: 800;
  transition: color 0.3s ease;
}

.expos p {
  width: 70%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.expos :hover a {
  color: var(--rosa);
  font-size: 18px;
}

.expos span {
  font-weight: 800;
  color: var(--naranja-pastel);
}

.expo-img img {
  width: 25%;
  margin-top: 25px;
  margin-left: 20px;
  border: solid var(--naranja-pastel);
  border-radius: 10px;
  margin-bottom: 25px;
}

.prox-expo {
  font-size: 18px;
  margin-top: 50px;
  text-align: center;
}

.prox-expo-1 {
  color: var(--text-white);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  gap: 20px;
  flex-direction: column;
  font-weight: 400;
  text-align: center;
  width: 100%;
  max-width: 30%;
  min-width: 40%;
}

.prox-expo-1 p {
  margin: 0;
}

.prox-expo-1 img {
  width: 100%;
  gap: 10px;
  border: solid var(--naranja-pastel);
  border-radius: 10px;
}

.prox-expo-1 p {
  width: 90%;
}

.tittle-expo {
  text-align: center;
  color: var(--rosa);
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--celeste);
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.divider {
  border: 0.5px solid var(--rosa);
  width: 100%;
  margin-top: 50px;
}

footer {
  background-color: var(--background);
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 13px;
  gap: 15px;
}

.footer-links img {
  height: 50px;
  display: flex;
  align-items: center;
}

.footer-text {
  text-align: center;
  color: var(--text-white);
  font-weight: 400;
  padding-top: 10px;
}

.derechos {
  color: var(--celeste);
  text-align: center;
  font-weight: 300;
  padding-top: 10px;
}

.container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* width: 70%; */
}

.direccion,
.politicas {
  font-weight: 300;
}

.direccion {
  color: var(--text-white);
  text-align: start;
  width: 26%;
  margin-left: 20%;
  /* margin-left: 10%; */
}

.politicas {
  text-align: right;
  /* margin-right: 10%; */
}

#card {
  display: flex;
  margin-top: 130px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
  transition: transform 0.3s ease;
}

.cards {
  background-color: var(--background-card);
  width: 475px;
  height: 650px;
  border-radius: 15px;
  border: solid 2px var(--naranja-pastel);
  text-align: center;
  transition: transform 0.3s ease;
}

.info-card h3,
p {
  margin-top: 40px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.info-card img {
  height: 130px;
  border-radius: 80px;
  margin-top: 100px;
}

.info-card span,
h3 {
  font-weight: 800;
  color: var(--naranja);
}

.info-card p {
  font-weight: 400;
}

.cards:hover {
  transform: scale(1.05);
}

.container-log {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-card);
  border: 2px solid var(--celeste);
  width: 550px;
  height: 730px;
  border-radius: 30px;
  margin-top: 125px;
}

.input-group {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.log-text {
  text-align: center;
  margin: 30px 0;
  font-weight: 800;
  font-size: 18px;
}

.log-user {
  margin: 12px 0;
  position: relative;
  color: var(--background);
}

.input-box {
  width: 100%;
  height: 50px;
  font-size: 17px;
  border-radius: 10px;
  padding: 7px 45px 0 20px;
  border: none;
}

.log-user label {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}

.input-box:focus ~ label,
.input-box:valid ~ label {
  top: 2px;
  font-size: 10px;
  color: var(--rosa);
  font-weight: 500;
}

.remember {
  display: flex;
  font-size: 13px;
  margin: 20px 0 30px 0;
  color: var(--text-white);
}

.check {
  margin-right: 10px;
  width: 14px;
}

.input-submit {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  background-color: var(--naranja);
  border: none;
  color: var(--text-white);
  cursor: pointer;
}

.input-submit:hover {
  background: var(--celeste);
  color: var(--background);
}

.recuperar {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px;
}

.recuperar a {
  text-decoration: none;
  color: var(--text-white);
}

.registrar {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.container-reg {
  /* display: flex;
  justify-content: center;
  width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 480px;
  position: absolute;
  bottom: 260px;
  left: 677px;
}

.switch {
  display: flex;
  position: absolute;
  bottom: 140px;
  background: var(--background);
  height: 60px;
  width: 23%;
  border-radius: 10px;
  overflow: hidden;
}

.switch a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  width: 50%;
  border-radius: 10px;
  z-index: 10;
  color: var(--text-white);
}

#btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 145px;
}

.registrar {
  display: none;
  text-align: center;
}

.input-reg {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  background-color: var(--celeste);
  border: none;
  color: var(--background-card);
  cursor: pointer;
}

.input-reg:hover {
  background-color: var(--naranja-pastel);
}

.contact-container {
  margin-top: 100px;
  background: var(--background-card);
  width: 30%;
  height: 360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px;
  border-radius: 10px;
  border: 2px solid var(--celeste);
}

.contacto-body {
  margin-bottom: 10px;
  margin-top: 10px;
}

.contacto-email{
  margin-bottom: 10px;
}

#contact-text,
#email-contact {
  background-color: var(--text-white);
  border: none;
  color: var(--background-card);
  height: 30px;
  font-weight: 500;
  border-radius: 5px;
}

#motivo{
  background-color: var(--text-white);
  border: none;
  color: var(--background-card);
  font-weight: 500;
  border-radius: 5px;
}

#enviar-consulta{
  background-color: var(--naranja-pastel);
  height: 40px;
  font-size: 15px;
  border-radius: 10px;
  width: 150px;
  color: var(--background-card);
  font-weight: 500;
  cursor: pointer;
}

#enviar-consulta:hover{
  background-color: var(--celeste);

}